doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/home.css')
  title Document
.topnav
  .left
    a.active(href='/home') REFACTORY LIBRARY
  .right
    a(href='/logout') LOG OUT
    a(href='/reports') REPORTS
    a(href='/home') HOME
section#refactory
  .container
    .title
      h1 WELCOME TO  REFACTORY LIBRARY!
    .row
      .col-md-6
        .card.text-center
          img(src='../images/taken.jpg' alt='')
          h5.card-title
            a(href='/taken' style='color: black; font-weight: light; text-decoration: none;') BOOKS TAKEN 
      .col-md-6
        .card.text-center
          img(src='/IMAGES/received.jpg' alt='')
          h5.card-title
            a(href='/received' style='color: black; font-weight: light; text-decoration: none;') BOOKS RECEIVED
script(src='/bootstrap/js/bootstrap.js')
