doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title LogIn Form
  // bootstrap CSS
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/register.css')
.container
  h1 REFACTORY LIBRARY 
  .title Log in  Form
  form(action='/login' name='login' method='POST')
    .user-details
      // username
      .input-box
        span.details User Name 
        // input
        input(type='text' placeholder='Enter user-name')
      // password
      .input-box
        span.details Password
        // input
        input#password(type='password' placeholder='password')
      .sign
        | Have you forgotten your Password
      .button
        input(type='Submit' value='Log In')
      .sign
        | Don&apos;t have an account? 
        a(href='/signup') Sign-up here
script(src='/bootstrap/js/bootstrap.js')
