doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Received books
  // bootstrap CSS
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  // flatpickr for selecting date and time
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
  link(rel='stylesheet' href='/css/index.css')
.topnav
  .left
    a.active(href='/home') REFACTORY LIBRARY
  .right
    a(href='/logout') LOG OUT
    a(href='/reports') REPORTS
    a(href='/home') HOME
.container
  .title Books returned
  form(action='/received' name='received' method='POST')
    .user-details
      .input-box
        span.details Name Of Student
        input(type='text' placeholder='Enter Your Full Name' name='username')
      .input-box
        span.details Phone Number
        input(type='text' placeholder='070 XXXXXXX' name='phonenumber')
      .input-box
        span.details Student card number 
        input(type='text' placeholder='enter student number' name='nin')
      .input-box
        .input-box
          span.details Book Recieved 
          input(typeofcar='text' placeholder='book taken' name='bookreceived')
        .input-box
          span.details Date and Time
          input(typeofcar='datetime-local' placeholder='Select Date' name='datetime')
        .input-box
          span.details Cohort 
          input(typeofcar='number' placeholder='eg 10' name='cohort')
        .button
          input(type='Submit' value='Register')
script(src='/bootstrap/js/bootstrap.js')
// This will initate date and time in our form
script(src='https://cdn.jsdelivr.net/npm/flatpickr')
script.
  config ={
  enableTime: true,
  dateFormat: "Y-m-d H:i",
  }
  flatpickr("input=[type=datetime-local", {});
